.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  border-radius: var(--radius, 8px);
  padding: 32px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 64px);
  overflow-y: auto;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.modalContentSm {
  max-width: 350px;
}

.modalContentM {
  max-width: 600px;
}

.modalContentL {
  max-width: 900px;
}