:root {
    --color-white: #F2F3F4;
    --color-purple: #AC1754;
    --color-charcoal: #253C4F;
    --color-charcoal-dark: #3B465B;
    --color-gray: #D0D1D2;
  
    --font-main: 'Nunito Sans', sans-serif;
  }
  