:root {
  --color-white: #ffffff;
  --color-purple: #ac1754; /* Este será nuestro único tono rojizo/púrpura en toda la aplicación */
  --color-purple-dark: #8e0e3d; /* Versión oscura para hover */
  --color-charcoal: #253c4f;
  --color-charcoal-dark: #3b465b;
  --color-gray: #d0d1d2;
  --color-light-gray: #f8f8f8;
  --color-pink-light: #f8eaf0;
  --color-accent: #176aac; /* New accent color */
  --color-accent-light: #1e7fc0; /* Lighter version for hover states */

  /* Definición de la fuente principal - Inter es más moderna */
  --font-main: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
